/* @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Open+Sans|Roboto&display=swap'); */

.stroke-text {
    -webkit-text-stroke: 2px #333;
}


.section1 {
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 40px;
    height: 56vw;
    overflow: hidden;
}

.box_social {
    margin-top: 50px;
    margin-bottom: 50px;
}

.box_social a + a {
    margin-left: 60px;
}

.container {
    max-width: 100%;
    width: 100%;
    /* padding: 0 175px; */
}
@media screen and (min-width: 768px){
    .container-top {
        height: calc(100% - 65px);
    }
    .row-box-top {
        margin-top: auto;
        margin-bottom: auto;
        width: calc(100% + 30px)
    }
    .box_social {
        margin-top: 10px;
        margin-bottom: 40px;
        width: calc(100% + 30px);
    }
}

.text1 {
	/* font-family: 'IBM Plex Mono', monospace; */
	font-style: normal;
	font-size: 90px;
	line-height: 1.1em;
    /* margin-top: 1em; */
    margin-top: 0.5em;
    /* margin-bottom: 1em; */
}


a.link_download {
    /* font-family: 'IBM Plex Mono', monospace; */
    color: #fff;
    font-size: 32px;
    line-height: 20px;
}
a.link_download:hover {
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    color: #FFDAD2;
    text-decoration: none;
}
.arrow {
    margin-left: 30px;
}

.box_bord {
    height: 100%;
    max-width: 100%;
}

.header-img-box {
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    margin-bottom: 5em;
    /* padding-top: 30px; */
    padding-bottom: 30px;
}
.header-img-lbl {
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 1em;
    margin-top: 0;
    /* font-family: 'IBM Plex Mono', monospace; */
}
.img-header {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}

.section2 {
    margin-bottom: 100px;
}

.text1_s2 {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 1.625em;
    margin-bottom: 2em;
}
.text1_1 {
    font-size: 22px;
    line-height: 1.8em;
    margin-bottom: 2em;
}
.title_list,
.content_with_lists h2,
.content_with_lists h3 {
    margin-bottom: 2em;
    font-size: 32px;
    line-height: 1.625em;
    font-family: 'IBM Plex Mono', monospace;
}

.title2_list {
    /* margin-bottom: 2em;
    font-size: 32px;
    line-height: 1.625em;
    font-family: 'IBM Plex Mono', monospace; */
}
.text2_2,
.content_with_lists {
    font-size: 22px;
    line-height: 1.8em;
    margin-bottom: 2em;
}
.text2_2 ul,
.content_with_lists ul {
    padding-left: 30px;
}
.text2_2 ul li,
.content_with_lists ul li {
    line-height: 1.8em;
    margin-bottom: 1.5em;
    position: relative;
    list-style: none;
}
.text2_2 ul li::before,
.content_with_lists ul li:before {
    content: "";
    display: block;
    position: absolute;
    left: -30px;
    top: .9em;
    margin-top: -4px;
    border-radius: 50px;
    width: 8px;
    height: 8px;
    background: #fff;
}

.text2_s2 {
    font-size: 64px;
    line-height: 1.16;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.form1 {
    background: #FFDAD2;
    box-shadow: 15px 4px 30px rgba(0, 0, 0, 0.25);
    margin-right: -15px;
    padding-top: 6em;
    padding-bottom: 6em;
}
.form1 .form-inner {
    padding-left: 11%;
    padding-right: 11%;
}
.form1 label {
    font-size: 28px;
    line-height: 1.42em;
    text-transform: uppercase;
    color: #30498C;
    font-weight: normal;
}
.form1 label .req {
    display: inline-block;
    vertical-align: 0.5em;
}
.form1 input {
    width: 100%;
    height: 38px;
    padding-bottom: 10px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #30498C;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: #30498C;
    margin-bottom: 50px;
}
.form1 input.email {
    margin-bottom: 0;
}

.form1 .wpcf7-submit {
    outline: none;
    border: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
    color: #30498C;
    margin-top: 100px;
    padding-top: 10px;
    font-family: 'IBM Plex Mono', monospace;
    height: auto;
}
.form1 .wpcf7-submit:hover {
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.form1 .wpcf7-submit:hover, .form1 .wpcf7-submit:active, .form1 .wpcf7-submit:focus {
    background: transparent!important;
}
.form1 input[type=checkbox] {
    border-color: #30498C;
}
.form1 input[type="checkbox"]:checked:before {
    border-color: #30498C;
}
footer {
    background: rgba(255,255,255,.05);
    font-size: 16px;
    line-height: 38px;
    /*color: #ffffff;*/
    padding-top: 5px;
    /*font-family: "Open sans", serif;*/
}

:focus {
    outline: none!important;
}

.disp_b_768 {
    display: none;
}
@media only screen and (max-width: 1710px) {
    .container {
        /* padding: 0 95px; */
    }
    .text1 {
        font-size: 90px;
        /* line-height: 81px; */
    }

    .section1 {
        /* height: 980px; */
        padding-top: 40px;
        background-size: cover;
    }
}

@media only screen and (max-width: 1550px) {
    .section1 {
        height: 870px;
    }

    .text1 {
        font-size: 80px;
        /* line-height: 71px; */
        /* margin-top: 230px; */
    }

    .container-fluid {
        /* padding: 0 87px 0 40px; */
    }

    .box_bord {
        /* width: 574px; */
        /* height: 409px; */
        /* margin-top: 138px; */
        background-size: cover;
        padding: 0 15px;
        /* margin-left: 83px; */
    }

    a.link_download {
        font-size: 30px;
        line-height: 36px;
    }

    .arrow {
        margin-left: 25px;
        max-width: 40px;
    }

    .text2_s2 {
        font-size: 60px;
        line-height: 70px;
    }

    .title_list {
        font-size: 30px;
        line-height: 38px;
        width: 100%;
    }

    .list1 {
        padding-left: 42px;
        margin-top: 40px;
    }

    .title1_list {
        margin-top: 104px;
    }

    .title2_list {
        margin-top: 62px;
    }

    .list1 li {
        font-size: 20px;
        line-height: 28px;
    }

    .section2 {
        height: auto;
        padding: 90px 0;
        background-size: cover;
    }

    .form1 input {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    .form1 label {
        font-size: 20px;
        line-height: 28px;
    }

    .form1 .wpcf7-submit {
        height: 80px;
        font-size: 26px;
        line-height: 33px;
        margin-top: 70px;
    }
}

@media only screen and (max-width: 1400px) {
    .box_social a {
        margin-left: 30px;
    }

    .logotip {
        max-width: 150px;
    }

    .section1 {
        /* height: 768px; */
        padding: 20px 0 40px;
    }

    .text1 {
        font-size: 64px;
        /* line-height: 51px; */
        /* margin-top: 210px; */
    }

    .box_bord {
        /* width: 504px; */
        /* height: 357px; */
        /* margin-top: 132px; */
        background-size: cover;
        /* padding: 0 35px; */
        /* margin-left: 59px; */
    }

    a.link_download {
        font-size: 25px;
        line-height: 26px;
    }

    .arrow {
        margin-left: 20px;
        max-width: 28px;
    }

    .section2 {
        height: auto;
        padding: 50px 0;
        background-size: cover;
    }

    .container {
        padding: 0 15px;
    }

    .container-fluid {
        padding: 0 15px;
    }

    .text1_s2 {
        font-size: 20px;
        line-height: 28px;
    }

    .text2_s2 {
        font-size: 50px;
        line-height: 56px;
    }

    .title_list {
        font-size: 26px;
        line-height: 28px;
        width: 100%;
    }

    .list1 li {
        font-size: 18px;
        line-height: 27px;
    }

    .list1 li::before {
        content: "";
        display: block;
        position: absolute;
        left: -27px;
        top: 7px;
        border-radius: 50px;
        width: 12px;
        height: 12px;
    }

    .title2_list {
        margin-top: 42px;
    }

    .title1_list {
        margin-top: 84px;
    }

    .list1 {
        padding-left: 42px;
        margin-top: 30px;
    }

    .form1 label {
        font-size: 18px;
        line-height: 20px;
    }

    .figure {
        margin-top: -3px;
    }

    .form1 input {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }

    .form1 {
        max-width: 610px;
        width: 100%;
        margin-top: 60px;
    }

    .form1 .wpcf7-submit {
        height: 70px;
        font-size: 24px;
        line-height: 26px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .box_bord {
        margin-left: 0;
        /* width: 454px; */
        /* height: 322px; */
        /* margin-top: 132px; */
        background-size: cover;
        /* padding: 0 35px; */
    }

    .text1 {
        font-size: 56px;
        /* line-height: 51px; */
        /* margin-top: 150px; */
    }
}

@media only screen and (max-width: 992px) {
    .box_bord {
        /* width: 344px; */
        /* height: 245px; */
        /* margin-top: 132px; */
        background-size: cover;
        /* padding: 0 25px; */
        margin: 0 auto;
        /* margin-top: 135px; */
    }

    .text1 {
        font-size: 54px;
        /* line-height: 41px; */
        /* margin-top: 130px; */
    }

    .text2 {
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        max-width: 450px;
        margin-bottom: 70px;
    }

    a.link_download {
        font-size: 20px;
        line-height: 24px;
    }

    .arrow {
        margin-left: 13px;
        max-width: 32px;
    }

    .box_social img {
        max-width: 25px;
    }

    .box_social a {
        margin-left: 20px;
    }

    .text1_s2 {
        font-size: 18px;
        line-height: 23px;
    }

    .text2_s2 {
        font-size: 40px;
        line-height: 46px;
    }

    .title1_list {
        margin-top: 54px;
    }

    .title_list {
        font-size: 22px;
        line-height: 26px;
        width: 100%;
    }

    .list1 {
        padding-left: 30px;
        margin-top: 16px;
    }

    .list1 li {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 10px;
    }

    .form1 label {
        font-size: 16px;
        line-height: 16px;
    }

    .form1 input {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 15px;
        padding-bottom: 0px;
    }

    .form1 .wpcf7-submit {
        height: 80px;
        font-size: 18px;
        line-height: 22px;
        margin-top: 30px;
    }

    footer {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .disp_n_768 {
        display: none;
    }

    .disp_b_768 {
        display: block;
    }

    .section1 {
        padding-bottom: 0;
        height: auto;
    }
    .section2 {
        padding-top: 0;
        margin-bottom: 60px;
    }
    .text2_s2 {
        font-size: 32px;
        margin-top: 40px;
    }
    .box_bord {
        /* margin-top: 25px; */
        margin-top: 0;
        padding: 0;
        width: auto;
    }
    .header-img-box {
        padding-top: 0;
        margiN: 0;
    }
    .header-link-box {
        text-align: right;
    }
    .title_list {
        font-size: 20px;
        width: 100%;
    }
    .form1 {
        margin-left: -15px;
        margin-right: -15px;
        width: auto;
        padding: 30px 0 20px;
    }
    .form1 .form-inner {
        padding: 0 15px;
    }
    .form1 .wpcf7-submit {
        margin-bottom: 0;
    }
    .form1 label {
        font-size: 14px;
    }

    .form1 input {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 30px;
        padding-bottom: 0px;
    }

    .figure {
        margin-top: -3px;
        max-width: 10px;
        margin-right: 10px;
    }

    .text1 {
        font-size: 32px;
        line-height: 40px;
        margin-top: 130px;
    }
    .pm-center .h2 {
        font-size: 42px;
    }
}

@media only screen and (max-width: 500px) {
    .section1 {
        position: relative;
    }

    .text2 {
        display: none;
    }
    .text1 {
        font-size: 32px;
        line-height: 40px;
        margin-top: 28px;
        max-width: 250px;
    }

    .logotip {
        max-width: 126px;
    }

    .box_social {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0;
    }

    .text1_s2 {
        font-size: 16px;
        line-height: 28px;
    }

    .section2 {
        height: auto;
        padding: 10px 0;
    }
    .text1_1 {
        font-size: 14px;
        margin-bottom: 0;
    }
    .text1_1 > p {
        display: none;
    }
    .text1_1 > div p {
        margin-bottom: 2em;
    }
    .title_list {
        font-size: 20px;
        line-height: 32px;
        margin-top: 0;
    }
    .title1_list {
        margin-top: 39px;
    }
    .text2_2 {
        font-size: 14px;
    }
    .list1 li {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 12px;
    }

    .list1 li::before {
        content: "";
        display: block;
        position: absolute;
        left: -27px;
        top: 11px;
        border-radius: 50px;
        width: 8px;
        height: 8px;
    }

    .form1 {
        margin-top: 30px;
    }

    footer {
        font-size: 12px;
    }
}
