@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.eot");
    src: url("../fonts/Montserrat-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Montserrat-Medium.woff2") format("woff2"),
        url("../fonts/Montserrat-Medium.woff") format("woff"),
        url("../fonts/Montserrat-Medium.ttf") format("truetype"),
        url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.eot");
    src: url("../fonts/Montserrat-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff") format("woff"),
        url("../fonts/Montserrat-Regular.ttf") format("truetype"),
        url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.eot");
    src: url("../fonts/Montserrat-SemiBold.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat-SemiBold.woff") format("woff"),
        url("../fonts/Montserrat-SemiBold.ttf") format("truetype"),
        url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold")
            format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.eot");
    src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat-Light.woff2") format("woff2"),
        url("../fonts/Montserrat-Light.woff") format("woff"),
        url("../fonts/Montserrat-Light.ttf") format("truetype"),
        url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}
*/
body {
    font-family: "Montserrat", sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}
.section1 {
    background-image: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 1080px;
    padding-top: 35px;
}
.container-fluid {
    padding: 0 80px;
}
:focus {
    outline: none !important;
}
h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
    color: #ffffff;
}
h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 84px;
    color: #ff671b;
}
.pos_rel {
    position: relative;
}
/*Section 1*/
.contact_us {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 41px;
    color: #ffffff;
}
a.contact_us:hover {
    color: #ffffff;
}
.burger_menu {
    float: right;
    margin-left: 120px;
    cursor: pointer;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
}
.block_menu {
    background-image: url("../images/bg_menu.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    position: absolute;
    top: 0;
    z-index: 100;
}
.t_cont_menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 41px;
    color: #ff671b;
}
.cont3_menu {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.box_social_menu {
    position: absolute;
    bottom: 56px;
    right: 20px;
}
.tell_menu {
    text-align: right;
}
.menu1 {
    padding: 0;
}
.menu1 li {
    list-style-type: none;
    margin-bottom: 20px;
}
.menu1 li a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 98px;
    color: #ffffff;
}
.header-link-catalog ul {
    padding: 0;
    margin: 0;
}
.header-link-catalog ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-link-catalog a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    /* line-height: 98px; */
    line-height: 1;
    color: #ffffff;
}
.cont2_block_menu {
    margin-top: 150px;
}
.t_menu2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 98px;
    color: #ffffff;
}
.menu2 {
    padding: 0;
    display: inline-block;
}
.menu2_2 {
    margin-left: 50px;
    position: relative;
    top: -18px;
}
.menu2 li {
    list-style-type: none;
    margin-bottom: 20px;
}

.menu-item-42 {
    max-width: 300px;
}

.menu2 li a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 64px;
    text-transform: capitalize;
    color: #ffffff;
}
.close {
    position: absolute;
    right: 50px;
    top: 30px;
    opacity: 1;
    z-index: 1000;
}
.block_menu .logotip {
    margin-top: 35px;
}
.navbar-toggle {
    border-radius: 0 !important;
}
.box_social_menu a {
    margin-left: 20px;
}
.text1 {
    margin-left: 280px;
    position: relative;
    margin-top: 180px;
    position: relative;
    z-index: 1;
}
.text1::before {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 150px;
    background: #ff671b;
    position: absolute;
    left: -60px;
    top: -50px;
    z-index: -1;
}
.text1::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 150px;
    background: #ff671b;
    position: absolute;
    right: 120px;
    bottom: -10px;
}
.text2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    margin-left: 280px;
    margin-top: 50px;
    max-width: 560px;
    width: 100%;
}
/*End Section 1*/
/*Section 2*/
.section2 {
    background-image: url("../images/bg2.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 700px;
    padding-top: 180px;
}
.t1_sect2 {
    margin-left: 80px;
}
.t2_sect2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 51px;
    color: #6d6e71;
    margin-left: 80px;
    max-width: 450px;
    width: 100%;
    margin-top: 60px;
}
/*End Section 2*/
/*section3*/
.section3 {
    background: url(../images/figure1_s3.png) no-repeat top left;
    position: relative;
    padding-bottom: 150px;
    margin-top: 150px;
}
.section3 > .cont1_s3:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 150px;
    background: #ff671b;
    position: absolute;
    top: -150px;
}
.table_main {
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
    border: 3px solid white;
    border-collapse: collapse;
}
.table_main tr td {
    width: 33%;
    border: 1px solid rgba(22, 10, 139, 0.1);
    padding: 20px 0 20px 30px;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.table_main_sect3 tr td {
    height: 552px;
}
.td_first {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    color: #ff671b;
    padding: 0 !important;
    vertical-align: middle !important;
}
.t1_table {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 78px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #160a8b;
    margin-top: 15px;
    display: inline;
    border-bottom: 5px solid #160a8b;
    margin-bottom: 0;
}
.t1_2_table {
    line-height: 1;
    padding-bottom: 15px;
}
.t2_table {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 43px;
    color: #6d6e71;
    margin-top: 30px;
}
.section3 > .cont2_s3:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 150px;
    background: #ff671b;
    position: absolute;
    top: -150px;
}
.box_hover_s3 {
    background-color: #160a8b;
    width: 100%;
    height: 552px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: table;
}
.box_hover_s3 p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 76px;
    text-align: center;
    color: #ffffff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.arrow_s3 {
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.arrow_s3:hover {
    position: absolute;
    right: 20px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.arrow_s3:not(:hover) {
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.box_link_s3 {
    opacity: 0;
}
.box_s3 {
    width: 100%;
    height: 100%;
}
.box_s3:hover .box_link_s3 {
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    opacity: 1;
}
.box_s3:not(:hover) .box_link_s3 {
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
/*End section3*/
/*section4*/
.section4 {
    margin-top: 150px;
    position: relative;
}
.figure_s4 {
    position: absolute;
    right: 0;
    top: -450px;
    z-index: -1;
}
.section4 > .cont1_s4:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 150px;
    background: #ff671b;
    position: absolute;
    top: -150px;
}
.t2_s4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 51px;
    color: #6d6e71;
    margin-top: 25px;
}
.cont2_s4 {
    margin-top: 350px;
}
.box_ellipse {
    width: 642px;
    height: 642px;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    position: relative;
}
.box_ellipse div {
    display: table;
}
.box_ellipse div p {
    display: table-cell;
    vertical-align: middle;
    border-radius: 150px;
}
.box1_ell {
    background-image: url("../images/ellipse1.png");
    background-repeat: no-repeat;
    background-position: top center;
    width: 320px;
    height: 320px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.box2_ell {
    background-image: url("../images/ellipse2.png");
    background-repeat: no-repeat;
    background-position: top center;
    width: 320px;
    height: 320px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.box3_ell {
    background-image: url("../images/ellipse3.png");
    background-repeat: no-repeat;
    background-position: top center;
    width: 320px;
    height: 320px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.box4_ell {
    background-image: url("../images/ellipse4.png");
    background-repeat: no-repeat;
    background-position: top center;
    width: 320px;
    height: 320px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.box_ellipse_center {
    width: 240px;
    height: 240px;
    background-color: #ff671b;
    border-radius: 150px;
    position: absolute;
    z-index: 10;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    left: 201px;
    top: 201px;
    border-radius: 150px;
}
.box_ellipse_text {
    width: 450px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 47px;
    color: #160a8b;
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.box1_text:hover,
.box1_text.hover {
    background: rgba(22, 10, 139, 0.1);
    padding: 20px 20px 20px;
    width: 510px;
    height: 340px;
    -webkit-transform: translate(-120px, -150px);
    transform: translate(-120px, -150px);
}

.box2_text:hover,
.box2_text.hover {
    background: rgba(22, 10, 139, 0.1);
    padding: 20px 20px 20px;
    width: 510px;
    height: 340px;
    -webkit-transform: translate(120px, -150px);
    transform: translate(120px, -150px);
}
.box3_text:hover,
.box3_text.hover {
    background: rgba(22, 10, 139, 0.1);
    padding: 20px 20px 20px;
    width: 510px;
    height: 340px;
    -webkit-transform: translate(-120px, 150px);
    transform: translate(-120px, 150px);
}
.box4_text:hover,
.box4_text.hover {
    background: rgba(22, 10, 139, 0.1);
    padding: 20px 20px 20px;
    width: 510px;
    height: 340px;
    -webkit-transform: translate(120px, 150px);
    transform: translate(120px, 150px);
}
.box1_ell.active {
    -webkit-transform: translate(-60px, -60px);
    transform: translate(-60px, -60px);
}
.box2_ell.active {
    -webkit-transform: translate(60px, -60px);
    transform: translate(60px, -60px);
}
.box3_ell.active {
    -webkit-transform: translate(-60px, 60px);
    transform: translate(-60px, 60px);
}
.box4_ell.active {
    -webkit-transform: translate(60px, 60px);
    transform: translate(60px, 60px);
}
.arrow_s4 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: none;
}
.box_ellipse_text:hover .arrow_s4,
.arrow1_s4.act,
.arrow2_s4.act,
.arrow3_s4.act,
.arrow4_s4.act {
    display: block;
}

.box1_text {
    left: 0;
    top: -150px;
}
.box2_text {
    right: 0;
    top: -150px;
}
.box3_text {
    left: 0;
    bottom: -120px;
}
.box4_text {
    right: 0;
    bottom: -120px;
}
.cont_more {
    margin-top: 250px;
}
.more {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 64px;
    color: #ff671b;
    position: relative;
    margin-left: -60px;
}
.more:hover {
    color: #ff671b;
}
.arrow {
    position: absolute;
    top: 30px;
    left: 180px;
}
.box_hover_s5 {
    background-color: #160a8b;
    width: 100%;
    height: 330px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: table;
    text-align: center;
}
.box_hover_s5 p {
    display: table-cell;
    vertical-align: middle;
}
.arrow_s5 {
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.box_link_s5 {
    opacity: 0;
}
.box_s5 {
    width: 100%;
    height: 310px;
    position: relative;
    overflow: hidden;
}
.box_s5:hover .box_link_s5 {
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    opacity: 1;
}
.box_s5:not(:hover) .box_link_s5 {
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
/*End section4*/
/*section5*/
.section5 {
    margin-top: 350px;
    padding: 50px 0;
    position: relative;
}
.figure_s5 {
    position: absolute;
    right: 0;
    top: -350px;
    z-index: -1;
}
.section5 > .cont1_s3:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 150px;
    background: #ff671b;
    position: absolute;
    top: -150px;
}
.table_sect5 {
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
    border: 3px solid white;
    border-collapse: collapse;
}
.table_sect5 tr td {
    width: 49%;
    border: 1px solid rgba(22, 10, 139, 0.1);
    padding: 10px 0 20px 30px;
    vertical-align: top;
}
.td_s5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    color: #ff671b;
    line-height: 84px;
}
.t2_table_sect5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 43px;
    color: #939598;
    margin-top: 20px;
}
/*End section5*/
/*section6*/
.section6 {
    margin-top: 250px;
    position: relative;
}
.figure_s6 {
    position: absolute;
    right: 0;
    top: -200px;
    z-index: -1;
}
.section6 > .cont1_s3:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 150px;
    background: #ff671b;
    position: absolute;
    top: -150px;
}
.box_partner {
    text-align: center;
    margin-top: 20px;
}
.cont2_s6 {
    margin-top: 60px;
}
/*End section6*/
/*section7*/
.section7 {
    margin-top: 300px;
    position: relative;
}
.section7 > .cont1_s3:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 150px;
    background: #ff671b;
    position: absolute;
    top: -150px;
}
.table_sect7 tr td {
    padding-top: 25px;
}
.t2_table_sect7 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #4a4a4a;
    margin-top: 40px;
}
/*End section7*/
/*section8*/
.section8 {
    margin-top: 300px;
    position: relative;
}
.section8 > .cont1_s3:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 150px;
    background: #ff671b;
    position: absolute;
    top: -150px;
}
.trusted-slider {
    margin-top: 0;
}
.trusted-slider img {
    margin: 0 auto;
}
.slides {
    padding: 0;
}
.slick-slide {
    margin: 0 22px;
}
img {
    max-width: 100%;
}
.slick-prev::before,
.slick-next::before {
    content: "";
}
.slick-prev,
.slick-prev:focus,
.slick-prev:hover,
.slick-prev:active {
    background-image: url("../images/left_arrow.svg");
    background-repeat: no-repeat;
    background-position: top center;
    width: 40px;
    height: 70px;
    z-index: 10;
}
.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-next:active {
    background-image: url("../images/right_arrow.svg");
    background-repeat: no-repeat;
    background-position: top center;
    width: 40px;
    height: 70px;
    z-index: 10;
}
.t1_insights1,
.t1_insights1 a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    height: 120px;
    overflow: hidden;
    line-height: 60px;
    color: #4a4a4a;
    margin-top: 20px;
    text-align: left;
}
.date_insights {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 59px;
    color: #8b8b8b;
    text-align: left;
}
.img_insights {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.15);
}
.slick-prev {
    left: -60px;
}
.slick-next {
    right: -60px;
}
.box_article {
    position: relative;
}
.box_hover_article {
    opacity: 0;
}
.box_hover_article div {
    position: absolute;
    right: 0;
    width: 100%;
    height: 440px;
    left: 0;
    top: 0;
    background-color: #160a8b;
    text-align: center;
    display: table;
}
.box_hover_article div p {
    display: table-cell;
    vertical-align: middle;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
}
.arrow_article {
    position: absolute;
    right: 20px;
    bottom: 30px;
}
.arrow_article:hover {
    right: 10px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.arrow_article:not(:hover) {
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.box_article:hover .box_hover_article {
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    opacity: 1;
}
.box_article:not(:hover) .box_hover_article {
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
/*End section8*/
/*footer*/
footer {
    background-image: url("../images/bg_footer.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 778px;
    padding-top: 550px;
}
.menu_foot {
    padding: 0;
    display: inline-block;
}
.menu_foot li {
    list-style-type: none;
    margin-bottom: 10px;
}
.menu_foot2 {
    margin-bottom: 0;
}
.menu_foot li a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    color: #ffffff;
}

.footer-link-catalog ul {
    padding: 0;
    margin: 0;
}
.footer-link-catalog ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-link-catalog a {
    font-weight: 600;
    font-size: 26px;
    color: #fff;
    line-height: 1;
    white-space: nowrap;
}
.footer_menu {
    float: left;
}
.menu_foot2 li {
    margin-bottom: 5px;
}
.menu_foot2 li a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    color: #ffffff;
}
.menu_foot2_li {
    position: relative;
    top: -5px;
}
.footer_menu2 {
    margin-left: 100px;
}
.box_address {
    width: 260px;
    float: left;
    margin-left: 160px;
}

.country_address {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #ff671b;
    margin-bottom: 0;
}
.adr {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}
.contacts_adr {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}
.box_social a {
    margin-right: 50px;
}
.copy {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    margin-top: 80px;
}
.box_social {
    margin-left: 60px;
    float: right;
}
/*end footer*/
.disp_b_768 {
    display: none;
}
/* Р СљР С•Р С‘ Р С—РЎР‚Р В°Р Р†Р С”Р С‘ */
.menu_foot .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    color: #ffffff;
}

.menu_foot2_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    color: #ffffff;
}

#menu-item-71 {
    width: 102px;
}

#foot2-menu {
    width: 133px;
}
.arrow:hover {
    left: 190px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.arrow:not(:hover) {
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.arrow_s4:hover {
    right: 10px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.arrow_s4:not(:hover) {
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.menu_hid {
    overflow: hidden;
}

/***************  Approach  ******************/

.section1_approach {
    background-image: url("../images/bg_page.png");
    background-repeat: no-repeat;
    background-position: top center;
    height: 925px;
    padding-top: 35px;
    position: relative;
}

.text1_page {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 112px;
    color: #ff671b;
    position: relative;
}

.text1_page::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 150px;
    background: #ff671b;
    position: absolute;
    top: -160px;
    left: -280px;
}

.cont2_s1_approach {
    margin-top: 366px;
}
.cicles_grid1_page {
    position: absolute;
    right: 0;
    top: 270px;
}

.text2_page {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 51px;
    color: #6d6e71;
}

.text2_page_approach {
    max-width: 442px;
    margin-top: 75px;
}

.s4_approach {
    padding-top: 50px;
}

.figure_s4_approach {
    position: absolute;
    left: 0;
    z-index: -1;
}

.section3_approach {
    position: relative;
    margin-top: 550px;
}

.figure_s3_approach {
    position: absolute;
    right: 0;
    z-index: -1;
    top: -280px;
}

.title_block {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 78px;
    letter-spacing: 0.03em;
    /*text-transform: capitalize;*/
    color: #160a8b;
    border-bottom: 5px solid #160a8b;
    display: inline;
    padding-bottom: 5px;
}

.cont2_section3_approach {
    margin-top: 60px;
}

.text_block {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 43px;
    color: #6d6e71;
    margin-top: 30px;
}

.box_expertise {
    text-align: center;
}

.t_expertise {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 47px;
    text-align: center;
    color: #4a4a4a;
    margin-top: 20px;
}

.table_expertise {
    margin-top: 80px;
}

.table_expertise tr td {
    padding-top: 45px;
}

.section_processes {
    position: relative;
    margin-top: 350px;
}

.figure_processes_approach {
    position: absolute;
    right: 0;
    top: -370px;
    z-index: -1;
}

.figure2_processes_approach {
    position: absolute;
    left: 0;
    bottom: -100px;
    z-index: -1;
}

.cont3_section_processes {
    margin-top: 120px;
}

.t1_step {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 47px;
    color: #ff671b;
    margin: 0;
}

.t2_step {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 47px;
    color: #4a4a4a;
    margin: 0;
    position: relative;
}

.t2_step_bef::before {
    content: "";
    width: 362px;
    height: 1px;
    background: #c4c4c4;
    display: block;
    position: absolute;
    left: -400px;
    top: 11px;
}

.t3_step {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 35px;
    color: #939598;
    margin: 0;
    margin-top: -8px;
}

.block_step_processes {
    margin-top: 114px;
}

.box_step_processes {
    white-space: nowrap;
    margin-bottom: 17px;
}

.section_talents {
    margin-top: 300px;
    position: relative;
}

.sect_dots {
    position: relative;
}

.cont1_s3 {
    position: relative;
}

.sect_dots .cont1_s3:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 150px;
    background: #ff671b;
    position: absolute;
    top: -150px;
}

.cont2_section_talents {
    margin-top: 160px;
}

.box_step2_processes {
    margin-bottom: 30px;
}

.block_step2_processes {
    margin-top: -37px;
}

.box_step2_processes .t3_step {
    margin-top: 0;
}

.figure_talents_approach {
    position: absolute;
    right: 0;
    bottom: -360px;
    z-index: -1;
}

/*****************  wealthtech  ******************/

.cont2_s1_wealthtech {
    margin-top: 150px;
}

.cicles_grid1_wealthtech {
    position: absolute;
    right: 0;
    top: -30px;
    z-index: -1;
}

.s4_wealthtech {
    position: relative;
    margin-top: 290px;
}

.s3_wealthtech {
    position: relative;
    margin-top: 330px;
}

.s5_wealthtech {
    margin-top: 200px;
    position: relative;
}

.broker1 {
    margin-left: -15px;
}

.broker2 {
    margin-top: 50px;
}

.broker3 {
    margin-top: 40px;
}

.broker7 {
}

.broker9 {
    margin-top: 10px;
}

.broker10 {
    margin-top: 22px;
}
.broker8 {
}

.comp_we_dev__inner {
    position: relative;
    /* min-height: 307px; */
    height: 100%;
    display: -ms-grid;
    display: grid;
}
.box_expertise {
    width: 100%;
    height: 100%;
}
.comp_we_dev__inner .box_expertise {
    position: relative;
}
.box_wealthtech {
    opacity: 0;
}
.box_expertise:hover .box_wealthtech {
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    opacity: 1;
}
.box_expertise:not(:hover) .box_wealthtech {
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

.box_hover_wealthtech {
    background-color: #160a8b;
    width: 100%;
    height: 307px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: table;
    height: 100%;
}
.comp_we_dev__inner .box_hover_wealthtech {
    position: relative;
    z-index: 2;
    padding-top: 2em;
    padding-bottom: 2em;
    display: -webkit-box;
    display: flex;
    min-height: 100%;
    height: auto;
}
.box_hover_wealthtech p {
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 43px;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    padding: 0 35px;
}
.comp_we_dev__inner .box_hover_wealthtech p {
    margin: auto;
}
.grid-we-dev tbody,
.grid-we-dev {
    display: block;
    overflow: hidden;
}
.grid-we-dev tr {
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: -1px;
    margin-top: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
}
.grid-we-dev tr td.comp_we_dev__td {
    width: auto;
    padding: 0 !important;
    border: none;
    display: flex;
    box-shadow: 1px 1px 0 rgba(22, 10, 139, 0.1);
}
.grid-we-dev .box_expertise {
    padding: 45px 20px 20px 20px;
    grid-column: 1;
    grid-row: 1;
}
.grid-we-dev .box_wealthtech {
    grid-column: 1;
    grid-row: 1;
}
.grid-we-dev td:hover .box_wealthtech {
    opacity: 1;
}
.row2_s5_wealthtech {
    margin-top: 100px;
}

.title_block_crm {
    border: 0;
    position: relative;
}

.title_block_crm::after {
    content: "";
    width: 139px;
    height: 5px;
    background: #160a8b;
    position: absolute;
    bottom: 0;
    right: -150px;
}

.trading2 {
    margin-top: -13px;
}

.cicles_grid3_wealthtech {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: -180px;
}

.text_clients {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 51px;
    color: #6d6e71;
}

.text2_clients {
    margin-top: 30px;
}

.row_clients img {
    height: auto;
}

.row_clients {
    margin-top: 100px;
}

.name_clients {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    color: #160a8b;
}

.info_clients {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
    color: #939598;
}

.numb_wealthtech {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 110px;
    letter-spacing: 0.06em;
    border-bottom: 5px solid #160a8b;
    color: #160a8b;
    display: inline-block;
}

.cicles_grid4_wealthtech {
    position: absolute;
    z-index: -1;
    right: 0;
    top: -330px;
}

.cont2_member {
    margin-top: 80px;
}

.row2_member {
    margin-top: 30px;
}

.more_member {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 64px;
    color: #ff671b;
    position: relative;
}
.more_member:hover {
    color: #ff671b;
}
.arrow_member {
    position: absolute;
    top: 30px;
    left: 78px;
}

.arrow_member:hover {
    left: 88px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.arrow_member:not(:hover) {
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

.box_more_member {
    text-align: right;
    margin-top: 20px;
    padding-right: 140px;
}

.cicles_grid5_wealthtech {
    position: absolute;
    z-index: -1;
    right: 0;
    top: -230px;
}

.mt30 {
    margin-top: 30px;
}

.mt100 {
    margin-top: 100px;
}

.mr80 {
    margin-right: 80px;
}

.mr120 {
    margin-right: 120px;
}

.pr120 {
    padding-right: 120px;
}

.mr140 {
    margin-right: 140px;
}

.s3_paytech {
    margin-top: 280px;
    position: relative;
}

.block_payments {
    margin-top: 34px;
}

.block_payments div {
    height: 70px;
}

.h100 {
    height: 100px;
}

.payment5 {
    margin-top: 20px;
}

.payment7 {
    margin-top: 15px;
}

.payment10 {
    margin-top: 5px;
}

.payment11 {
    margin-top: -7px;
}

.payment14 {
    margin-top: 25px;
}

.cont_payments {
    margin-top: 70px;
}

.block_img_pt_clients {
    height: 85px;
}

.block_it_solution .col-md-4 {
    height: 120px;
}

.block_it_solution .col-md-4 {
    height: 118px;
    display: table;
}

.block_it_solution .col-md-4 div {
    display: table-cell;
    vertical-align: middle;
}

.block_it_solution .col-md-3 {
    height: 70px;
}

.cicles_grid1_insurance {
    position: absolute;
    right: 0;
    z-index: -1;
    top: -320px;
}

.t1_s4_it {
    margin-bottom: 60px;
}

.text_clients_it {
    margin-top: 30px;
}

.box_more_it {
    text-align: right;
    margin-top: 20px;
    padding-right: 100px;
}

.more_it {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 64px;
    color: #ff671b;
    position: relative;
}
.more_it:hover {
    color: #ff671b;
}
.arrow_it {
    position: absolute;
    top: 30px;
    right: -70px;
}

.arrow_it:hover {
    right: -80px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.arrow_it:not(:hover) {
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

/********** trading *************/

.text1_page_trading {
    margin-right: 50px;
}

.t1_trading_clients {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 79px;
    color: #160a8b;
}

.t2_trading_clients {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
    color: #939598;
    margin-top: 50px;
}

.t3_trading_clients {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 51px;
    color: #6d6e71;
    margin-top: 60px;
}

.cont_clients_trading {
    margin-top: 50px;
}

.s4_lending {
    margin-top: 260px;
}

.block_lend div {
    height: 72px;
}
.sect_under {
    margin-top: 0;
    position: relative;
}

.sect_under_page {
    margin-top: -150px;
}

.sect_under_approach {
    margin-top: -300px;
}

/************* About Us  *****************/

.section1_about {
    background-image: url("../images/bg_about.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 35px;
    height: 690px;
}

.text1_about {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 140px;
    line-height: 205px;
    color: #ffffff;
}

.cont_about {
    position: relative;
    margin-top: 140px;
}

.cont_about::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 150px;
    background: #ff671b;
    position: absolute;
    top: 0;
    left: 0;
}

.sect2_about {
    position: relative;
    padding-top: 200px;
}

.cicles_grid1_about {
    position: absolute;
    z-index: 50;
    right: 10px;
    top: -140px;
}

.sect3_about {
    margin-top: 300px;
}

.cicles_grid2_about {
    position: absolute;
    z-index: -1;
    right: 0;
    top: -370px;
}

.box_table_about {
    height: 307px !important;
    padding-top: 40px !important;
}

.t1_table_about {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 84px;
    color: #ff671b;
    text-align: center;
    vertical-align: middle !important;
    padding-top: 0 !important;
}

.sect4_about {
    margin-top: 280px;
}

.name_team {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 56px;
    letter-spacing: 0.05em;
    color: #160a8b;
    border-bottom: 5px solid #160a8b;
    margin-top: 20px;
    display: inline-block;
}

.under_name_team {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    color: #6d6e71;
    margin-top: 5px;
}

.box_team {
    width: 100%;
    height: 100%;
}
.box_team:hover .box_hover_team {
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    opacity: 1;
}
.box_team:not(:hover) .box_hover_team {
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

.box_hover_team {
    background-color: #160a8b;
    position: absolute;
    top: 0;
    left: 15px;
    right: 0;
    display: table;
    opacity: 0;
    width: 440px;
    height: 470px;
}
.box_hover_team p {
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 43px;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    padding: 0 35px;
}

.cicles_grid3_about {
    position: absolute;
    right: 0;
    z-index: -1;
    top: -280px;
}

.cicles_grid4_about {
    position: absolute;
    right: 0;
    z-index: -1;
    top: -350px;
}
.box_partnership {
    height: 117px;
}

.box_partnership {
    display: table;
}

.box_partnership div {
    display: table-cell;
    vertical-align: middle;
}

.cicles_grid5_about {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: -190px;
}

.t1_careers_table {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 43px;
    text-transform: uppercase;
    color: #939598;
}

.table_careers tr td {
    width: 50%;
    float: left;
    border: 0;
    border-bottom: 1px solid rgba(22, 10, 139, 0.1);
    padding-top: 15px !important;
}

.table_careers tr td:nth-child(2n + 1) {
    border-right: 1px solid rgba(22, 10, 139, 0.1);
}

.table_careers tr td:last-child {
    border-bottom: 1px solid rgba(22, 10, 139, 0.1);
}

.table_careers .box_expertise {
    text-align: left;
}

.more_careers_table {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 52px !important;
    line-height: 76px !important;
    text-align: center;
    color: #ffffff !important;
    text-align: center !important;
    display: table-cell;
    vertical-align: middle;
}

.arrow_careers {
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.arrow_careers:hover {
    position: absolute;
    right: 20px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.arrow_careers:not(:hover) {
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

.table_perks {
    margin-top: 70px;
}

.cicles_grid1_careers {
    position: absolute;
    right: 0;
    top: -300px;
    z-index: -1;
}

.cicles_grid2_careers {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -70px;
}

.cont_life {
    margin-top: 70px;
}

.life1 {
    margin-top: 100px;
}

.life2 {
    margin-top: 58px;
}

.life3 {
    float: right;
}

.life4 {
    margin-top: 30px;
}

.life5 {
    margin-top: 27px;
}

.arrow1_careers {
    right: 50px;
}

.arrow1_careers {
    position: absolute;
    top: 30px;
    left: 178px;
}
.arrow1_careers:hover {
    left: 188px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.arrow1_careers:not(:hover) {
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

.t_arrow_careers {
    text-align: right;
    margin-right: 190px;
    margin-top: 50px;
}

.cont_careers {
    margin-top: 70px;
}

.name_hr {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 82px;
    color: #160a8b;
    margin-top: 20px;
    margin-bottom: 3px;
}

.under_name_hr {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    color: #4a4a4a;
    margin-bottom: 20px;
}

.info_hr {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 51px;
    color: #6d6e71;
    margin-bottom: 0;
}
.info_hr span {
    color: #ff671b;
}

.block_logo2 {
    margin-top: 25px;
}

.block_logo2 a {
    margin-right: 15px;
}

.text1_job {
    padding-right: 150px;
}

.list_job {
    margin-top: 50px;
}

.list_job li {
    list-style-type: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 51px;
    color: #6d6e71;
    position: relative;
}

.list_job li::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #ff671b;
    border-radius: 50px;
    left: -30px;
    position: absolute;
    top: 19px;
}

.cicles_grid1_job {
    position: absolute;
    right: 0;
    bottom: -180px;
}

.form_job input {
    background: transparent;
    border: 0;
    border-bottom: 5px solid #160a8b;
    padding-bottom: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    color: #4a4a4a;

    width: 100%;
}

.form_job input[type="email"] {
    margin-top: 50px;
}

.form_job input[type="submit"] {
    background: transparent;
    border: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 76px;
    color: #ff671b;
    position: relative;
    text-align: right;
    float: right;
    margin-right: 30px;
    margin-top: 100px;
    max-width: 390px;
}

.form_job button:hover,
.form_job button:focus,
.form_job button:active {
    background: transparent !important;
    color: #ff671b !important;
    border: 0 !important;
    box-shadow: none !important;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.t_file {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    color: #4a4a4a;
    float: left;
    height: 62px;
    overflow: hidden;
    max-width: 560px;
    margin-bottom: 0;
    margin-top: 12px;
}

.box_file label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    text-transform: uppercase;
    color: #ff671b;
    display: block;
    text-align: right;
    cursor: pointer;
    margin: 0;
    z-index: 10000;
    position: relative;
}

.box_file p {
    margin-bottom: 0;
}

#file2 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0px;
    padding: 0px;
}

.box_file {
    border-bottom: 5px solid #160a8b;
    margin-top: -5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
}

.box_file label label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 43px;
    text-transform: uppercase;
    color: #ff671b;
    display: block;
    text-align: right;
}

.box_file2 {
    margin-top: 47px;
}

.row2_form_job {
    margin-top: 50px;
}

.arrow_form_job {
    position: absolute;
    top: 60px;
    left: 298px;
    z-index: 100;
}

.arrow_form_job:hover {
    left: 308px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.arrow_form_job:not(:hover) {
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

.s4_job {
    padding-bottom: 80px;
}

.title_events {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.05em;
    color: #160a8b;
    display: inline;
    border-bottom: 5px solid #160a8b;
    padding-bottom: 5px;
}

.events_img {
    margin-bottom: 25px;
}

.arrow_events {
    position: absolute;
    top: 30px;
    left: 148px;
}

.arrow_events:hover {
    left: 158px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.arrow_events:not(:hover) {
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

.box_more_events {
    margin-top: 50px;
}

.sect_events {
    padding-bottom: 80px;
}

.cont_events {
    margin-top: 70px;
}

.section_contact {
    padding-top: 35px;
    position: relative;
    background-image: url("../images/bg_contact.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 1080px;
}

.t1_contact {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 170px;
    line-height: 265px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    margin-top: 170px;
}

.t1_contact::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 150px;
    background: #ff671b;
    position: absolute;
    top: -10px;
    left: -40px;
}

.form_contact {
    margin-top: 235px;
}

.form_contact input {
    display: block;
    background: transparent;
    border: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    color: #ffffff;
    border-bottom: 5px solid #fff;
    margin-bottom: 55px;
    padding-bottom: 5px;
    width: 100%;
}

.form_contact textarea {
    display: block;
    background: transparent;
    border: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    color: #ffffff;
    border-bottom: 5px solid #fff;
    margin-bottom: 55px;
    padding-bottom: 0;
    height: 130px;
    padding-top: 50px;
    width: 100%;
}

.form_contact input[type="submit"] {
    padding-bottom: 5px;
    position: relative;
    background: transparent;
    border: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 76px;
    text-transform: capitalize;
    color: #ff671b;
    margin-left: 0;
    text-align: right;
    margin-right: 0;
    padding-right: 40px;
    margin: 0;
}

.box_social_menu_contact {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.box_social_menu_contact a {
    margin-left: 20px;
}

.box_contact a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    color: #ff671b;
}

.box_contact {
    margin-top: 100px;
}

.arrow_form_contact {
    position: absolute;
    top: 60px;
    left: 198px;
    z-index: 100;
}

.arrow_form_contact:hover {
    left: 208px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.arrow_form_contact:not(:hover) {
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

.menu-btn-wrap {
    position: relative;
    z-index: 111;
    float: right;
    margin-left: 120px;
    cursor: pointer;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
}
.open .menu-btn-wrap {
    position: relative;
    z-index: 111;
}

.btn-open-menu {
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    background: transparent;
    position: relative;
    height: 22px;
    width: 42px;
    position: relative;
}

.open .btn-open-menu {
    z-index: 999;
}

.btn-open-menu i {
    display: block;
    background: #fff;
    height: 3px;
    width: 31px;
    margin: 0px 3px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.btn-open-menu i + i {
    margin-top: 10px;
    height: 2px;
}

.btn-open-menu i:nth-child(3) {
    height: 1px;
}

.btn-open-menu:hover i {
    background: #ff661a;
}

.open .btn-open-menu i {
    position: absolute;
    top: 30%;
    left: 30%;
    margin-left: -8px;
    margin-top: -1px;
    background-color: #ff661a;
    height: 3px;
    width: 41px;
}

.open .logotip {
    z-index: 1000;
    position: relative;
}

.open .btn-open-menu i:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open .btn-open-menu i:nth-child(2) {
    display: none;
}

.open .btn-open-menu i:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.collapse {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.open .collapse {
    display: block;
    padding-top: 80px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.box1_ell {
    padding: 55px 0 0 30px;
}

.box2_ell {
    padding: 55px 30px 0 0;
}

.box3_ell {
    padding: 0 0 55px 30px;
}

.box4_ell {
    padding: 0 30px 55px 0;
}

.open {
    overflow: hidden;
}

.t1_404 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    color: #ffffff;
}

.t2_404 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 68px;
    color: #ffffff;
}

.wrapper-table {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
}

.wpcf7-not-valid {
    border-color: #ff0000 !important;
}

span.wpcf7-not-valid-tip {
    display: none !important;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    border: 2px solid #f7e700;
    color: #fff;
    font-size: 18px;
    position: absolute;
    bottom: -40px;
    left: 0;
    margin-top: 16px;
    right: 0;
    text-align: center;
    max-width: 290px;
    padding: 0 5px;
}
.s4_job div.wpcf7-validation-errors {
    color: #000;
}

.title_block_jobs a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 68px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #160a8b;
    border-bottom: 5px solid #160a8b;
    display: inline;
    padding-bottom: 5px;
    text-decoration: none;
}

#cookie-notice {
    height: 120px;
    background: linear-gradient(
        11.85deg,
        #160a8b -10.92%,
        #3a2ca8 75.02%,
        #5142ba 105.63%
    );
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 190px;
    z-index: 10000;
}
#cookie-notice .cookie-notice-container {
    display: -webkit-box;
    display: flex;
}

#cookie-notice span {
    font-size: 22px;
    line-height: 30px;
}
#cookie-notice #cn-notice-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    margin-bottom: 0;
}
#cookie-notice.cookie-notice-hidden {
    display: none;
}
#cookie-notice .cn-buttons-container {
    margin-left: auto;
    display: -webkit-box;
    display: flex;
}
.btn_cookies {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 41px;
    color: #ff671b;
    position: relative;
    margin-left: auto;
    cursor: pointer;
    position: relative;
    min-height: 60px;
}
.btn_cookies:hover {
    color: #ff671b;
}

.btn_cookies::after {
    content: "";
    background: url("https://www.insart.com/wp-content/themes/insart-wp/assets/images/arrow.svg");
    position: absolute;
    right: -60px;
    bottom: -15px;
    height: 60px;
    width: 140px;
    background-size: cover;
}
.btn_cookies:hover::after {
    right: -70px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.btn_cookies:not(:hover)::after {
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.wpcf7-mail-sent-ok {
    border: 2px solid #f7e700;

    font-size: 18px;
    position: absolute;
    bottom: -50px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 290px;
    padding: 0 5px;
}
.section_contact .wpcf7-mail-sent-ok {
    color: #fff;
}

.t_arrow_after {
    position: relative;
    display: inline-block;
    float: right;
}

.arrow_after {
    position: above;
}

.form_contact button {
    padding-bottom: 5px;
    position: relative;
    background: transparent;
    border: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 76px;
    text-transform: capitalize;
    color: #ff671b;
    float: right;
    margin-right: 40px;
}

.form_contact button.btn-default:hover {
    color: #ff671b;
    background-color: transparent;
    border-color: transparent;
}

.btn_cont:active,
.btn_cont:focus {
    background: transparent !important;
    border: 0 !important;
}
.s4_job div.wpcf7-validation-errors,
.s4_job div.wpcf7-acceptance-missing {
    position: static;
    max-width: 100%;
}
